<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Configuracion Cuenta Servidor Correo Saliente-->
    <add key ="mailserver" value="mail.gsgpetroleum.com"/>
    <add key ="mailport" value="26"/>
    <add key ="mailcount" value="luis.hernandez@gsgpetroleum.com"/>
    <add key ="mailuser" value="luis.hernandez@gsgpetroleum.com"/>
    <add key ="mailpass" value="GsG2014$"/>
    <!--<add key ="mailcount" value="luis.hernandez@gsgpetroleum.com"/>
    <add key ="mailuser" value="luis.hernandez@gsgpetroleum.com"/>
    <add key ="mailpass" value="GsG2014$"/>-->

    <!--<add key ="mailOrigen" value="manuel.trinidad@gsgpetroleum.com"/>-->
  </appSettings>
</configuration>
